.content-exp h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.content-exp-item {
  display: flex;
  margin-bottom: 20px;
}

.content-exp-year {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

.content-exp-details {
  flex-grow: 1;
}

.content-exp-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.content-exp-institution {
  color: #999;
  margin-bottom: 5px;
}

.content-exp-description {
  color: #777;
}
